@font-face {
	font-family: "roadRage";
	src: url('roadRage.otf');
	font-style: regular;
}
body{
	margin : 0 auto;
}
.clearBoth{
	clear: both;
}
/****************************************

								HEADER

****************************************/
#header{
	width: 100%;
	height: 100px;
	background-color: black;
}
#header #logo{
	width: 170px;
	margin-top: 7px;
}
#header #nav{
	float: left;
	
}
#header .navHeader{
	margin-left: 50px;
	color: white;
	font-size: 26px;
  font-family: 'Play', sans-serif;
	text-decoration: none;
}
#contact{
	position: relative;
	float: right;
	display: inline-block;
	margin-top: 30px;
	padding: 1px 25px 1px 20px;
	border-radius: 5px 0px 0px 5px;
	background-color: #FFC300;
}
#contact a{
	font-family: 'Play', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
	color: black;
}
#lettre{
	display: inline-block;
	width: 25px;
	vertical-align: middle;
}
#flaticonsNetwork{
	position: absolute;
	right: 30px;
	top:60px;
}
#flaticonsNetwork a{
	display: inline-block;
}
#flaticonsNetwork #facebook{
	width: 25px;
	margin-right: 10px;
	vertical-align: middle;
}
#flaticonsNetwork #twitter{
	width: 40px;
	vertical-align: middle;
}
#flaticonsNetwork #youtube{
	width: 40px;
	vertical-align: middle;
}
/****************************************

						SECTION ACTUALITY

****************************************/

.sectionStart{
	text-align: center;
	background-color: white;
	font-family: 'roadRage';
	height: 50px;
	width: 100%;
	font-size: 14px;
}
.sectionStart h1{
	margin-top: 8px;
	margin-bottom: 8px;
}
/****************************************

							ACTUALITY

****************************************/
#actuality{
	display: inline-block;
	width: 100%;
	height: 490px;
	background-color: #363636;
}
#actualityText{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 520px;
	height: 400px;
	margin-top: 50px;
	margin-left: 60px;
	background-color: rgba(0, 0, 0, 0.4);
}
#actualityText h1{
	color: #75CA00;
	font-family: 'Play', sans-serif;
	text-transform: uppercase;
}
#actualityText p{
	color: white;
	font-family: 'Jura', sans-serif;
	font-weight: 300;
	font-size: 25px;
	line-height: 30px;
}
#actuality img{
	width: 630px;
	height: 357px;
	margin-top: 93px;
}
#actualityText a{
	display: inline-block;
	margin-top: 30px;
	padding: 5px 40px 5px 40px;
	border: 4px solid #75CA00;
	background-color: black;
	color: #75CA00;
	font-family: 'roadRage';
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition-duration: 1s;
}
#actualityText a:hover{
	display: inline-block;
	margin-top: 30px;
	padding: 5px 40px 5px 40px;
	border: 4px solid black;
	background-color: #75CA00;
	color: black;
	font-family: 'roadRage';
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition-duration: 1s;
}
/****************************************

								GAME

****************************************/
#game{
	display: inline-block;
	width: 100%;
	height: 560px;
	background-color: #363636;
	padding-bottom: 70px;
}
#game #gameplay{
	display: inline-block;
	margin-top: 57px;
	padding: 5px 90px 5px 60px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #75CA00;
	font-family: 'Play', sans-serif;
	font-weight: bold;
	font-size: 23px;
	text-transform: uppercase;
}
#g1 p{
	text-align: left;
	margin-left: 60px;
	margin-right: 60px;
	color: white;
	font-family: 'Jura', sans-serif;
	font-weight: lighter;
	font-size: 23px;
}
#game #gamedesign{
	float: right;
	display: inline-block;
	margin-top: 30px;
	padding: 5px 60px 5px 90px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #75CA00;
	font-family: 'Play', sans-serif;
	font-weight: bold;
	font-size: 23px;
	text-transform: uppercase;
}
#g2 p{
	text-align: right;
	margin-left: 60px;
	margin-right: 60px;
	color: white;
	font-family: 'Jura', sans-serif;
	font-weight: lighter;
	font-size: 23px;
}
#game a{
	display: inline-block;
	text-align: center;
	margin-top: 110px;
	padding: 5px 40px 5px 40px;
	border: 4px solid #75CA00;
	background-color: black;
	color: #75CA00;
	font-family: 'roadRage';
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition-duration: 1s;
}
#game a:hover{
	display: inline-block;
	text-align: center;
	margin-top: 110px;
	padding: 5px 40px 5px 40px;
	border: 4px solid black;
	background-color:  #75CA00;
	color: black;
	font-family: 'roadRage';
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition-duration: 1s;
}
/****************************************

								FOOTER

****************************************/
#footer{
	height: 200px;
	background-color: #585858;
	padding-top: 60px;
}
#footer span{
	display: inline-block;
}
#footer #miscFooter{
	display: inline-block;
	width: 200px;
	font-family: 'Play', sans-serif;
	font-weight: regular;
	font-size: 20px;
	text-transform: uppercase;
	color: #FFC300;
	margin-left: 60px;
	text-align: center;
}
#footer #navFooter{
	display: inline-block;
	width: 100px;
	color: white;
	font-family: 'Jura', sans-serif;
	font-weight: lighter;
	font-size: 23px;
	margin-left: 30px;
}
#footer #networkFooter{
	display: inline-block;
	width: 140px;
	color: white;
	font-family: 'Jura', sans-serif;
	font-weight: lighter;
	font-size: 23px;
	margin-left: 40px;
}
#footer .titleFooter{
	font-family: 'Play', sans-serif;
	font-weight: regular;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
}
#footer .span1, .span2{
	margin-bottom: 10px;
}
