  /*****  Change background here: ******/

.playground{
  background-image: url(../images/background.svg);
}
  /***** Change the font here: ******/

@font-face {
  font-family: "font";
  src: url('roadRage.otf');
  font-style: regular;
}

/********  Change color of each note here: *****/

.color1{
  background-color:white;
}
.color2{
  background-color:#75ca00;
}
.color3{
  background-color:white;
}
.color4{
  background-color:#75ca00;
}
